.row, .rubrik{
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
  }
  

  @media screen and (max-width: 40.625rem) {
    .column {
      width: 100%;
      display: block;
    }
  }
  

  .card {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  }
  

  .container {
    padding: 1rem 1rem;
  }
  

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
    padding: 0.625rem 0;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0.5rem;
    color: white;
    background-color: #c30000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgb(0, 0, 0);
  }

  .img{
    height: 21.875rem;
    object-fit: cover;
  }

  .rubrik{
    padding: 1rem;
  }


  @media only screen and (max-width: 45.625rem){
    nav ul{
        display: none;
        gap: 0;
    }

    .logo{
        margin-left: 0.9375rem;
    }

    .hamburger-icon{
        display: block;
    }

    nav ul > li > a{
        margin: 0;
    }

    .bildtext1 > h1{
        font-size: 2.8125rem;
    }

    .bildtext1 > h2{
        font-size: 1.25rem;
    }

    .bildtext2 > h1{
        font-size: 2.8125rem;
    }

    .bildtext2 > h2{
        font-size: 1.25rem;
    }

    .bildtext3 > h1{
        font-size: 2.8125rem;
    }

    .bildtext3 > h2{
        font-size: 1.25rem;
    }

    .carousel{
        height: 21.875rem;
    }

    .nextgame{
        gap: 1rem;
    }

    .matchlogga1{
        height: 5rem;
        width: 6.25rem;
    }

    .matchlogga2{
        height: 5rem;
        width: 5rem;
    }

    .matchlogga2-container{
        width: auto;
    }

    .match{
        text-align: center;
        
    }

    .nextgame h2{
        margin-bottom: 0.25rem;
    }

    .animated-button1{
        padding: 0.6rem 1.5rem;
        margin-top: -1.25rem;
    }

    .senastenytt{
        margin-top: 1rem;
    }

    .image-grid{
        padding: 2rem 1rem;
        --row-height: 18rem
    }

    .image-grid h3{
        font-size: 0.9375rem;
    }

    .image-grid h4{
        font-size: 0.75rem;
    }


    .booking{
        flex-wrap: wrap;
    }

    .booking > div{
        width: 100%;
    }

    .booking-img-text > h1, h2 {
        font-size: 1.125rem;
    }

    







}